.crystal-image {
    height: 200px;
    width: 200px;
}

#container {
    text-align: center;
}

.ello {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

.jumbotron {
    color: white;
}